@{
    ViewBag.Title = "Macon .NET User Group";
    ViewBag.Message = "Presented by Kyle Kelly";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Some code was adapted from the following source, so to learn more about Unit Testing visit
                <a href="https://www.manning.com/books/the-art-of-unit-testing-second-edition" title="Art of Unit Testing">The Art of Unit Testing, Second Edition</a>
                    by Roy Osherove with examples in C# .
            </p>
            <p>
                Code for this project can be found here
                <a href="https://bitbucket.org/kyleskelly/dotnet.unittestpresentation" title="Code" target="_blank">https://bitbucket.org/kyleskelly/dotnet.unittestpresentation</a>
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Example 1
        <div class="row-fluid">
            <div class="span12">
                <p>@Html.ActionLink("Make Payment", "MakePayment")</p>
            </div>
        </div>
    </li>

    <li class="two">
        <h5>Most of the examples are the tests, but we have links to keep up appearances</h5>
        Example 2
        <p>@Html.ActionLink("Log Analyzer", "LogAnalyzer")</p>
    </li>

    <li class="three">
        <h5>Macon .NET User's Group</h5>
         March 2016 Meeting.
    </li>
</ol>
